################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XFOnlineCourses/bin/Debug/netstandard2.0
